.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    
    place-content: center;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.grid-item {
    background: sandybrown;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

